.common_content, .individual_content {
    position: inherit;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    color: white;
}

.common_content {
    background: rgba(53, 59, 69, 0.8);
}

.common_content p {
    padding: 5px;
    font-size: 18px;
}

.text_justify{
    text-align: justify;
}

.text_center, .stylePhoto div, .styleOnePhoto, .errorSend {
    text-align: center;
}

.avatar {
    float: right;
    width: 350px;
    margin: 5px 5px 15px 25px;
    top: 0;
    right: 145px;
    background: #000000;
    border-radius: 5px;
}

.avatar img {
    border-radius: 5px;
    width: 350px;
}

.styleAudio, .styleVideo, .stylePhoto{
    width: 1000px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-left: 0;
}

.styleAudio li, .styleVideo li{
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 5px;
    background: rgba(53, 59, 69, 0.8);
}

.styleAudio li {
    display: inline-flex;
}

.styleVideo li {
    display: inline-block;
}

.styleAudio audio, .styleAudio p{
    width: 465px;
}

.styleAudio audio {
    align-self: center;
}

.styleVideo iframe, .styleVideo p{
    width: 437px;
}

.styleVideo iframe{
    height: 245px;
    align-items:center;
    border: none;
}

.stylePhoto div {
    float: left;
    width: 50%;
}

.stylePhoto div a, .stylePhoto div a img{
    width: 480px;
}

.styleOnePhoto{
    padding-left: 0;
}

.styleOnePhoto li{
    width: 100%;
}
.styleOnePhoto img{
    padding: 10px;
    width: 980px;
}

.cost {
    padding: 0 15px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 18px;
}

.cost td:first-child{
    text-align: left;
}

.errorSend{
    width: 100%;
    font-size: 30px;
    font-style: oblique;
}
